body {
	background:#4c64c3 url(background.jpg) repeat-x bottom left fixed;
}
#outer {
	margin-bottom:40px; 
	border:solid 1px #000;
}
#inner { 
}
#content {
}
#footer {
	font-family:sans-serif;
}

p.rev {
	text-align:right
}